.app-container {
    width: 85%;
    max-width: 1200px;   /* Increase width */
    margin: 0 auto;      /* Center it */
    padding: 20px;

}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-group input,
.filter-group select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-card {
  background: #353535;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ff6b01;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  color: white;
}

.p-0 { background: #4caf50; }   /* Low */
.p-1 { background: #2196f3; }   /* Normal */
.p-2 { background: #f44336; }   /* Urgent */

.description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 10px 0;
}

.todo-header h3{
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.meta {
  font-size: 0.9rem;
  color: #ffffff;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #2196f3;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #f44336;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #1976d2;
}

.delete-btn:hover {
  background: #d32f2f;
}

.error-box {
  background: #ffe5e5;
  color: #b30000;
  padding: 12px 16px;
  border: 1px solid #ffb3b3;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
}
